// Normally mainpage styles
.section
	position: relative
	padding: 30px 0
	&_main
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
	&__top_bg
		position: absolute
		top: 0
		left: 0
		width: 100%   
		padding: 12px 0 
		background: rgba(#000, 0.5)
	&_no_pad
		padding: 0 
	&_pad
		padding: 30px 0 40px

.main-logo
	max-width: 800px
	margin: 0 auto
	padding: 165px 0 195px
	&_lg
		max-width: 900px
	&__inner
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
	span
		font-size: 35px
		color: #000
		+mb
		text-transform: uppercase
	img
		width: 240px

.reg-info
	position: absolute
	left: 0
	right: 0
	bottom: 0
	text-align: center

.messengers
	margin-bottom: 60px
	a
		display: inline-block
		padding: 0 5px
		color: #fff
		transition: opacity 0.3s
		&:hover
			opacity: 0.6

.sign-up
	height: 100px
	padding-top: 35px
	background: rgba(#000, 0.5)
	color: #fff
	text-align: center
	.upper-text
		font-size: 24px

.upper-text
	text-transform: uppercase

.simple-img
	margin-top: 30px
	max-width: 100% 
	&_no_mg
		margin-top: 0

.companies 
	&__list
		font-size: 0
		li
			display: inline-block
			margin-bottom: 40px
			vertical-align: middle
			padding: 0 40px
			&:before
				content: "" 
				display: inline-block
				vertical-align: middle
				height: 100% 
				width: 0

.table-indicators
	max-width: 610px 
	margin: 0 auto 30px
	text-align: left
	empty-cells: show
	tr
		td
			height: 50px
			line-height: 50px 
			font-size: 25px
			border-top: 2px solid #2ab747
			&:last-child
				text-align: right
	tr
		&:first-child
			td
				border-top: none 

.table-indicators_mod
	max-width: 700px
	tr
		th, td
			padding: 0 5px
			&:nth-child(3),
			&:nth-child(4)
				text-align: right

.table-indicators_wide
	max-width: 850px 
	margin: 0 auto 30px
	&_b
		max-width: 1000px
	&_sm
		max-width: 835px
	tr
		td
			&:first-child
				padding-right: 5px 
				border-top: none 
				text-align: right
	tr
		&:last-child
			td
				border-top: none 

.right-align
	text-align: right

.left-align
	text-align: right

.cell-bold 
	+mb
	padding-right: 0!important

.cell-bold-border
	display: inline-block
	max-width: 485px
	width: 100%
	border-top: 4px solid #2ab747
	text-align: left
	+clr
	span
		&:last-child
			float: right
	&_lg
		max-width: 495px
	&_mod
		text-align: right
		.summ
			display: inline-block
			margin-right: 60px

.shift-to_right
	padding-left: 35px 

.w800 
	max-width: 840px 

.description
	margin-left: 160px
	margin-bottom: 30px
	text-align: left
	&__title
		margin-bottom: 5px
		color: #2ab747
	&__list
		li 
			&:not(:last-child)
				margin-bottom: 5px
