<header class="header">
	<div class="row">
		<div class="logo">
			<a href="">ZEUS</a>
		</div>
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item"><a class="nav__link js-nav-link" href="#about">О технологии</a></li>
				<li class="nav__item"><a class="nav__link js-nav-link" href="#team">Команда</a></li>
				<li class="nav__item"><a class="nav__link js-nav-link" href="#road_map">Дорожная карта</a></li>
				<li class="nav__item"><a class="nav__link js-nav-link" href="#propositions">Инвесторам</a></li>
				<li class="nav__item"><a class="nav__link js-nav-link" href="#zeus_tockens">ZEUS token</a></li>
				<li class="nav__item"><a class="nav__link js-nav-link" href="whitepaper.pdf">Whitepaper</a></li>
				<li class="nav__item"><a class="nav__link js-nav-link" href="#info">Информация и документы</a></li>
			</ul>
		</nav>
		<div class="lang">
			<div class="lang__current js-lang">RU</div>
			<div class="lang__arrow icon-arrow_down"></div>
			<ul class="lang__list">
				<li><a class="lang__link" href="../eng/index.html">ENG</a></li>
				<li><a class="lang__link" href="../es/index.html">ES</a></li>
				<li><a class="lang__link" href="../jap/index.html">JAP</a></li>
				<li><a class="lang__link" href="../kor/index.html">KOR</a></li>
			</ul>
		</div>
	</div>
</header>