<section class="section" id="id_profit" style="background-color: #252626; ">
	<div class="row row_center">
		<h2 class="title-h2 title-h2_white">Итак, вы убедились, что участие в проекте выгоднее чем:</h2>

		<div class="features features_wide">
			<ul class="features__list">
				<li class="feature feature_wide">
					<div class="feature__inner">
						<div class="feature__img feature__img_big ">
							<img src="img/cloud.png" alt="">
						</div>
						<div class="feature__text feature__text_white">Вложиться в очередную ферму или облачный майнинг</div>
					</div>
				</li>
				<li class="feature feature_wide">
					<div class="feature__inner">
						<div class="feature__img feature__img_big">
							<img src="img/magnifier.png" alt="">
						</div>
						<div class="feature__text feature__text_white">Рисковать, изучая <br> <span class="feature__text feature__text_big">100 500</span> <br> «хайповых» проектов</div>
					</div>
				</li> 
				<li class="feature feature_wide">
					<div class="feature__inner">
						<div class="feature__img feature__img_big">
							<img src="img/trend.png" alt="">
						</div>
						<div class="feature__text feature__text_white">Бояться убытков <br> от курсовых <br> скачков на биржах <br> криптовалют</div>
					</div>
				</li> 
			</ul>
		</div>

		<div class="text text_mg text_center text_white">Кроме этого, вы не только участвуете в создании зеленого производства, содействуя развитию мировой криптоэкономики, но и делаете нашу планету чище.</div>

		<div class="btn-wrap btn-wrap_pad">
			<a href="https://ico.zeus-token.io/register?lang=ru " class="btn btn_mod btn_orange">купить Зевс токен</a>
		</div>

	</div>
</section>