<section class="section" id="zeus_tockens" style="background-color: #f7f7f7; ">
	<div class="row row_center">
		<h2 class="title-h2">ПРЕДЛОЖЕНИЕ ДЛЯ ИНВЕСТОРОВ</h2>

		<div class="text text_mg_bg">Всего будет выпущено 58 000 тыс. ZEUS Tokens, которые распределены следующим образом: </div>

		<div class="params">
			<ul class="circle-items circle-items_4">
				<li class="circle-item">
					<div class="circle-item__value circle-item__value_sbig">15%</div>
					<div class="circle-item__text circle-item__text_sm">от проданных токенов будут распределены между командой</div>
				</li>
				<li class="circle-item">
					<div class="circle-item__value circle-item__value_sbig">2%</div>
					<div class="circle-item__text circle-item__text_sm">от проданных токенов предназначены для <br> баунти программ</div>
				</li>
				<li class="circle-item">
					<div class="circle-item__value circle-item__value_mid">49.300.000 токенов</div>
					<div class="circle-item__text circle-item__text_sm">будет распределено среди инвесторов</div>
				</li>
				<li class="circle-item">
					<div class="circle-item__value circle-item__value_mid">1.000.000 токенов </div>
					<div class="circle-item__text circle-item__text_sm">предназначен для продажи на пре ICO</div>
				</li>
			</ul>
		</div>

		<h4 class="title-h4 title-h4_upper">Количество токенов для инвесторов будет реализовано так:</h4>

		<table class="table-indicators table-indicators_wide">
			<tr>
				<td></td>
				<td>PRE ICO</td>
				<td class="right-align">1 000 тыс. ZEUS Tokens</td>
				<td class="right-align">&nbsp;</td>
			</tr>
			<tr>
				<td class="right-align">1-7</td>
				<td>день ICO</td>
				<td class="right-align">5 000 тыс. ZEUS Tokens</td>
				<td class="right-align">0.70€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="right-align">8-14</td>
				<td>день ICO</td>
				<td class="right-align">10 000 тыс. ZEUS Tokens</td>
				<td class="right-align">0.80€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="right-align">15-22</td>
				<td>день ICO</td>
				<td class="right-align">15 000 тыс. ZEUS Tokens</td>
				<td class="right-align">0.85€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="right-align">&nbsp;</td>
				<td>До 25.01.18</td>
				<td class="right-align">19 300 тыс. ZEUS Tokens</td>
				<td class="right-align">0.90€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="cell-bold" colspan="3">
					<div class="cell-bold-border">
						<span class="left-align">Всего</span>
						<span class="float-right">50 300 тыс. ZEUS Tokens</span>
					</div>
				</td>
				<td></td>
				<td></td>
			</tr>
		</table>

		<div class="text">Токены, предназначенные для команды, будут распределяться ежемесячно по 5% от их общего количества в течении 20 месяцев после запуска завода в эксплуатацию .</div>

		<div class="text">Чтобы избежать негативного влияния на стоимость токенов на рынке , компанией  будут ежемесячно  сжигаться токены в количестве соответствующем распределённым токенам среди команды.</div>

		<div class="text"> После запуска заводав эксплуатацию компания будет предоставлять услуги аренды майнинового оборудования и продажи хэшрейта пользователям. Компания будет использовать  выработанную электроэнергию от переработки мусора для майнинга криптовалют например ETH/ ZEC/ DASH/ BTC и др. Майнинговые мощности  компании будут переданы в аренду.</div>


		<h4 class="title-h4">Стоимость аренды манинговых мощностей для пользователей:</h4>

		<table class="table-indicators table-indicators_mod">
			<tr>
				<th>Добываемая <br> криптовалюта </th>
				<th>Мощность</th>
				<th>Цена аренды <br> мощностей в год (€)</th>
				<th>Цена аренды <br> мощностей за 2 года (€)</th>
			</tr>
			<tr>
				<td>ETH </td>
				<td>100 MH/S</td>
				<td>1750 </td>
				<td>2000</td>
			</tr>
			<tr>
				<td>DASH </td>
				<td>500 MH/S </td>
				<td>1450 </td>
				<td>1750</td>
			</tr>
			<tr>
				<td>LTC</td>
				<td>200 MH/S </td>
				<td>1350 </td>
				<td>1850</td>
			</tr>
			<tr>
				<td>BTC </td>
				<td>14,000 GH/S </td>
				<td>1500 </td>
				<td>1600</td>
			</tr>
		</table>

		<div class="text text_notice">
			<b>Выработанный таким образом хэшрейт будет продаваться пользователю - контракт на аренду мощностей будет реализовываться за Zeus Token со скидкой 50 %.</b>
		</div>
		<div class="text">*Расчёт цены на октябрь 2017. </div>

	</div>
</section>
<section class="section" id="info">
	<div class="row row_center">
		<h2 class="title-h2">Информация и документы</h2>
		<div class="info__links">
			<ul class="info__links__list">
				<li>
					<a href="https://www.coinspeaker.com/2017/10/04/zeus-first-eco-mining-world/" class="info__links__list__link" target="_blanc">
						<div class="info__links__list__link__item">
							<img src="img/info/Screenshot_1.jpg" alt="info">
							<p class="info__links__list__link__item__site">
								coinspeaker
							</p>
							<p class="info__links__list__link__item__theme"><span>
								ZEUS – the First Eco-Mining in the World</span>
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="https://ibigdan.livejournal.com/20994172.html" class="info__links__list__link" target="_blanc">
						<div class="info__links__list__link__item">
							<img src="img/info/Screenshot_2.jpg" alt="info">
							<p class="info__links__list__link__item__site">
								ibigdan.livejournal
							</p>
							<p class="info__links__list__link__item__theme"><span>
								Эко-деньги</span>
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="https://www.cryptocoinsnews.com/zeus-first-eco-mining-world/" class="info__links__list__link" target="_blanc">
						<div class="info__links__list__link__item">
							<img src="img/info/Screenshot_3.jpg" alt="info">
							<p class="info__links__list__link__item__site">
								cryptocoinsnews
							</p>
							<p class="info__links__list__link__item__theme"><span>
								ZEUS – the First Eco-Mining in the World</span>
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://altcoinalerts.com/zeus-first-ecocryptomining-world/" class="info__links__list__link" target="_blanc">
						<div class="info__links__list__link__item">
							<img src="img/info/Screenshot_4.jpg" alt="info">
							<p class="info__links__list__link__item__site">
								altcoinalerts
							</p>
							<p class="info__links__list__link__item__theme"><span>
								ZEUS: The First EcoCryptoMining in the World</span>
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="https://bitcoinexchangeguide.com/zeus-token-ico/" class="info__links__list__link" target="_blanc">
						<div class="info__links__list__link__item">
							<img src="img/info/Screenshot_5.jpg" alt="info">
							<p class="info__links__list__link__item__site">
								bitcoinexchangeguide
							</p>
							<p class="info__links__list__link__item__theme">
								<span>Zeus Token ICO – Profitable Eco Cryptocurrency Mining Investing?</span>
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="https://cryptoinsider.21mil.com/zeus-first-ecocryptomining-world/" class="info__links__list__link" target="_blanc">
						<div class="info__links__list__link__item">
							<img src="img/info/Screenshot_6.jpg" alt="info">
							<p class="info__links__list__link__item__site">
								cryptoinsider.21mil
							</p>
							<p class="info__links__list__link__item__theme">
								<span>ZEUS: The first EcoCryptoMining in the world</span>
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://hajar-bitcoin.blogspot.com/2017/10/zeus-token-sebuah-eco-crypto-mining.html" class="info__links__list__link" target="_blanc">
						<div class="info__links__list__link__item">
							<img src="img/info/Screenshot_7.jpg" alt="info">
							<p class="info__links__list__link__item__site">
								hajar-bitcoin.blogspot
							</p>
							<p class="info__links__list__link__item__theme">
								<span>Zeus Token sebuah Eco Crypto Mining pertama di blockchain.</span>
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://cryptonesia04.blogspot.com/2017/10/zeus-token-sebuah-eco-crypto-mining.html" class="info__links__list__link" target="_blanc">
						<div class="info__links__list__link__item">
							<img src="img/info/Screenshot_8.jpg" alt="info">
							<p class="info__links__list__link__item__site">
								cryptonesia04.blogspot
							</p>
							<p class="info__links__list__link__item__theme">
								<span>Zeus Token sebuah Eco Crypto Mining pertama di blockchain. </span>
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="https://medium.com/@New_Mariescha/breaking-news-zeus-token-the-first-eco-crypto-mining-at-blockchain-688db1f8881" class="info__links__list__link" target="_blanc">
						<div class="info__links__list__link__item">
							<img src="img/info/Screenshot_9.jpg" alt="info">
							<p class="info__links__list__link__item__site">
								medium.com/@New_Mariescha
							</p>
							<p class="info__links__list__link__item__theme">
								<span>Breaking News — Zeus Token The First ECO Crypto Mining at Blockchain</span>
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="https://bitcosmile.com/zeus-green-ecocrypto-pertama-di-dunia/" class="info__links__list__link" target="_blanc">
						<div class="info__links__list__link__item">
							<img src="img/info/Screenshot_10.jpg" alt="info">
							<p class="info__links__list__link__item__site">
								bitcosmile
							</p>
							<p class="info__links__list__link__item__theme">
								<span>Zeus Green Ecocrypto Pertama di Dunia</span>
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://www.makcrypto.com/2017/11/zeus-coping-with-blockchain.html" class="info__links__list__link" target="_blanc">
						<div class="info__links__list__link__item">
							<img src="img/info/Screenshot_11.jpg" alt="info">
							<p class="info__links__list__link__item__site">
								makcrypto
							</p>
							<p class="info__links__list__link__item__theme">
								<span>"Zeus" Coping with Blockchain Technological Environmental pollution</span>
							</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<a href="merged.pdf" class="info__contract"><img src="img/pdf.png" alt="pdf" class="info__pdf"> Контракт  о покупке оборудования и строительстве завода с WABIO</a>
	</div>
</section>