<section class="section section_no_pad section_main" style="background-image: url(img/main-bg.png);" >
	//=include header.html

	<div class="row">
		<div class="main-logo">
			<div class="main-logo__inner">
				<span>Первый в мире</span>
				<img src="img/logo_big.png" alt="">
				<span>ЭКОмайнинг</span>
			</div>
		</div>

		<div class="reg-info">
			<div class="messengers">
				<a href="https://www.facebook.com/zeusminingofficial/"><i class="icon-facebook"></i></a>
				<a href="https://www.instagram.com/zeus_official_ecomining/"><i class="icon-in"></i></a>
				<a href="https://twitter.com/info_zeusteam"><i class="icon-tw"></i></a>
				<a href="https://t.me/joinchat/Cg9KDwhfwYZgztRVemWnwQ"><i class="icon-telegram"></i></a>
				<a href="https://join.slack.com/t/zeus-official/shared_invite/enQtMjU0MzA0MTk5NjM2LTYxMGE2MWY0MWQzOTgyNmU1ZjY4ODM5OTE0ZGQzOTExYjc0YmU3NWY0YmYzZTBjMDg5ZDViNjM4Mzc1YTFmOTQ"><i class="icon-slack"></i></a>
				<a href="mailto:info@zeus-token.io"><i class="icon-mail"></i></a>
				<a href="https://bitcointalk.org/index.php?topic=2194462.msg22039019#msg22039019"><i class="fa fa-btc" aria-hidden="true"></i></a>
			</div>

		</div>
	</div>
	<div class="sign-up">
		<div class="row">
			<div class="btn-wrap btn-wrap_abs">
				<a href="https://ico.zeus-token.io/register?lang=ru " class="btn btn_border btn_green">купить Зевс токен</a>
			</div>

			<div class="sign-up__info">
				<p class="upper-text">Pre-ICO продлится до 15.12.2017.</p>
				<p class="upper-text">ICO стартует 25.01.2018!</p>
				<p>Успей зарегистрироваться и приобрести токен по специальной стоимости!</p>
			</div>
		</div>
	</div>
</section>
