<section class="section section_pad" id="road_map" style="background-color: #252626; ">
	<div class="row row_center">
		<h2 class="title-h2 title-h2_white">ДОРОЖНАЯ КАРТА ПРОЕКТА</h2>

		<div class="road-container">
			<div class="road-year">2017</div>
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__arrow road__arrow_left"></div>
						<div class="road__title">СБОР СРЕДСТВ (ICO)</div>
						<div class="road__section">
							<div class="road__period">Ноябрь 2017 г. – январь 2018 г.</div>
							<div class="road__info">Проведение ICO по приобретению токенов ZEUS Token с использованием Ethereum (ETH).</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>

		<div class="road-container">
			<div class="road-year">2018</div>
			<div class="road-cols">
				<div class="road-col">&nbsp;</div>
				<div class="road-col">
					<div class="road">
						<div class="road__arrow road__arrow_right"></div>
						<div class="road__title">Производство</div>
						<div class="road__section road__section_border">
							<div class="road__period">Январь-февраль 2018 г.</div>
							<div class="road__info">Покупка и аренда земли в промышленной зоне г. Дрезден, Германия. Проектирование и получение разрешительной документации.</div>
						</div>
						<div class="road__section road__section_border">
							<div class="road__period">Март - август 2018 г.</div>
							<div class="road__info">Строительство здания и производство промышленного оборудования для завода и майнинговых мощностей.</div>
						</div>
						<div class="road__section road__section_border">
							<div class="road__period">Август - ноябрь 2018 г.</div>
							<div class="road__info">Пуско-наладка промышленного оборудования и старт нового производства, закупка и сборка майнингового оборудования.</div>
						</div>
						<div class="road__section road__section_pad_top">
							<div class="road__period">Ноябрь - декабрь 2018 г.</div>
							<div class="road__info">Старт приемки и переработки мусора, отгрузки готовой продукции и добычи криптовалюты.</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="road-container">
			<div class="road-cols">
				<div class="road-col">
					<div class="road">
						<div class="road__arrow road__arrow_left"></div>
						<div class="road__title">Предоставление майнинговых мощностей в аренду</div>
						<div class="road__section">
							<div class="road__period">Декабрь 2018 г.</div>
							<div class="road__info">Предоставление майнинговых мощностей в аренду.</div>
						</div>
					</div>
				</div>
				<div class="road-col">&nbsp;</div>
			</div>
		</div>
	</div>
</section>