<section class="section" id="zeus_tockens" style="background-color: #f7f7f7; ">
	<div class="row row_center">
		<h2 class="title-h2">ПРЕДЛОЖЕНИЕ ДЛЯ ИНВЕСТОРОВ</h2>

		<div class="text text_mg_bg">Всего будет выпущено 58 000 тыс. ZEUS Tokens, которые распределены следующим образом: </div>

		<div class="params">
			<ul class="circle-items circle-items_4">
				<li class="circle-item">
					<div class="circle-item__value circle-item__value_sbig">15%</div>
					<div class="circle-item__text circle-item__text_sm">от проданных токенов будут распределены между командой</div>
				</li>
				<li class="circle-item">
					<div class="circle-item__value circle-item__value_sbig">2%</div>
					<div class="circle-item__text circle-item__text_sm">от проданных токенов предназначены для <br> баунти программ</div>
				</li>
				<li class="circle-item">
					<div class="circle-item__value circle-item__value_mid">49.300.000 токенов</div>
					<div class="circle-item__text circle-item__text_sm">будет распределено среди инвесторов</div>
				</li>
				<li class="circle-item">
					<div class="circle-item__value circle-item__value_mid">1.000.000 токенов </div>
					<div class="circle-item__text circle-item__text_sm">предназначен для продажи на пре ICO</div>
				</li>
			</ul>
		</div>

		<h4 class="title-h4 title-h4_upper">Количество токенов для инвесторов будет реализовано так:</h4>

		<table class="table-indicators table-indicators_wide">
			<tr>
				<td></td>
				<td>PRE ICO</td>
				<td class="right-align">1 000 тыс. ZEUS Tokens</td>
				<td class="right-align">&nbsp;</td>
			</tr>
			<tr>
				<td class="right-align">1-7</td>
				<td>день ICO</td>
				<td class="right-align">5 000 тыс. ZEUS Tokens</td>
				<td class="right-align">0.70€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="right-align">8-14</td>
				<td>день ICO</td>
				<td class="right-align">10 000 тыс. ZEUS Tokens</td>
				<td class="right-align">0.80€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="right-align">15-22</td>
				<td>день ICO</td>
				<td class="right-align">15 000 тыс. ZEUS Tokens</td>
				<td class="right-align">0.85€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="right-align">&nbsp;</td>
				<td>До 25.01.18</td>
				<td class="right-align">19 300 тыс. ZEUS Tokens</td>
				<td class="right-align">0.90€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="cell-bold" colspan="3">
					<div class="cell-bold-border">
						<span class="left-align">Всего</span>
						<span class="float-right">50 300 тыс. ZEUS Tokens</span>
					</div>
				</td>
				<td></td>
				<td></td>
			</tr>
		</table>

		<div class="text">Токены, предназначенные для команды, будут распределяться ежемесячно по 5% от их общего количества в течении 20 месяцев после запуска завода в эксплуатацию .</div>

		<div class="text">Чтобы избежать негативного влияния на стоимость токенов на рынке , компанией  будут ежемесячно  сжигаться токены в количестве соответствующем распределённым токенам среди команды.</div>

		<div class="text"> После запуска заводав эксплуатацию компания будет предоставлять услуги аренды майнинового оборудования и продажи хэшрейта пользователям. Компания будет использовать  выработанную электроэнергию от переработки мусора для майнинга криптовалют например ETH/ ZEC/ DASH/ BTC и др. Майнинговые мощности  компании будут переданы в аренду.</div>


		<h4 class="title-h4">Стоимость аренды манинговых мощностей для пользователей:</h4>

		<table class="table-indicators table-indicators_mod">
			<tr>
				<th>Добываемая <br> криптовалюта </th>
				<th>Мощность</th>
				<th>Цена аренды <br> мощностей в год (€)</th>
				<th>Цена аренды <br> мощностей за 2 года (€)</th>
			</tr>
			<tr>
				<td>ETH </td>
				<td>100 MH/S</td>
				<td>1750 </td>
				<td>2000</td>
			</tr>
			<tr>
				<td>DASH </td>
				<td>500 MH/S </td>
				<td>1450 </td>
				<td>1750</td>
			</tr>
			<tr>
				<td>LTC</td>
				<td>200 MH/S </td>
				<td>1350 </td>
				<td>1850</td>
			</tr>
			<tr>
				<td>BTC </td>
				<td>14,000 GH/S </td>
				<td>1500 </td>
				<td>1600</td>
			</tr>
		</table>

		<div class="text text_notice">
			<b>Выработанный таким образом хэшрейт будет продаваться пользователю - контракт на аренду мощностей будет реализовываться за Zeus Token со скидкой 50 %.</b>
		</div>
		<div class="text">*Расчёт цены на октябрь 2017. </div>

	</div>
</section>