<section class="section" id="team">
	<div class="row ">
		<h2 class="title-h2 title-h2_green">Кто в нашей команде:</h2>
		
		<div class="members">
			<div class="member__col">
				<div class="member">
					<div class="member__photo"> 
						<img src="img/workers/mem1.png" alt="">
					</div>
					<div class="member__name">Александр Пилипенко</div>
					<div class="member__position">СЕО</div>

					<div class="member__overlay">
						<div class="member__bottom">
							<div class="member__info">С 2003 года принимает участие в разработке и реализации проектов тяжёлой промышленности, утилизации отходов и энергетики.  В 2007 году  успешно создал и управляет компанией в реальном секторе экономики, которая имеет высокие позиции на рынке энергетических ресурсов Украины и стран ЕС.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/workers/mem2.png" alt="">
					</div>
					<div class="member__name">Болеслав Войцеховский</div>
					<div class="member__position">Руководитель направления майнинга криптовалют</div>

					<div class="member__overlay">
						<div class="member__bottom">
							<div class="member__info">Начал работу с криптовалютами и блокчейном в 2015 году. Организовал производство и продажу майнингового оборудования, работу крупного Дата-центра для майнинга криптовалют на территории Польши. До этого работал Коммерческим Директором в таких компаниях как ООО "Энергокапитал" и  ООО "Дис-Энерго".</div>
						</div>
					</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/workers/mem3.png" alt="">
					</div>
					<div class="member__name">Ирина Прохорова</div>
					<div class="member__position">CFO</div>

					<div class="member__overlay">
						<div class="member__bottom">
							<div class="member__info">Имеет 12-ти летний опыт работы в области финансов. Специалист по осуществлению финансовой деятельности предприятия, направленной на обеспечение финансовыми ресурсами, формирование и распределение доходов/расходов. Имеет успешный опыт в области контроля за выполнением финансовых показателей, работы по привлечению заемных средств, изучению рынка кредитных ресурсов, ведению оперативного и управленческого учета.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/workers/mem4.png" alt="">
					</div>
					<div class="member__name">Эрки Касар</div>
					<div class="member__position">Юрист проекта</div>

					<div class="member__overlay">
						<div class="member__bottom">
							<div class="member__info">Имеет опыт консультирования предприятий в области международного и корпоративного права, обширную судебную практику. В течение своей трудовой деятельности сотрудничал и обслуживал следующие компании: Skankristall OÜ, OÜ Annamari, OÜ Kodu Haldus, Creditmarket OÜ, Adolfi Õigusbüroo OÜ (Эстония).</div>
						</div>
					</div>
				</div>
			</div>

			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/workers/mem5.png" alt="">
					</div>
					<div class="member__name">Джозеф Браун</div>
					<div class="member__position">СTО</div>

					<div class="member__overlay">
						<div class="member__bottom">
							<div class="member__info">Имеет большой опыт в области проектирования, инжиниринговых услуг и решений для строительства и эксплуатации биогазовых станций, промышленной утилизации мусора и твёрдых бытовых отходов, отходов пищевой промышленности, сельского хозяйства. Более 15 лет возглавляет компанию "BIT Braun Industrial Technology GmbH".</div>
						</div>
					</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/workers/mem6.png" alt="">
					</div>
					<div class="member__name">Сергей Баев</div>
					<div class="member__position">Escrow</div>

					<div class="member__overlay">
						<div class="member__bottom">
							<div class="member__info">Имеет опыт предпродажной подготовки компаний, опыт реализации, контроля и управлением проектами, партнёр компании корпоративного консалтинга.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/workers/mem7.png" alt="">
					</div>
					<div class="member__name">Алексей Карасёв</div>
					<div class="member__position">CBO <br>Директор по развитию</div>

					<div class="member__overlay">
						<div class="member__bottom">
							<div class="member__info">Имеет опыт управления горно-рудными и дорожно-строительными компаниями, а так же опыт инсталяции и управления мусороперерабатывающих заводов. </div>
						</div>
					</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/workers/mem8.png" alt="">
					</div>
					<div class="member__name">Александр Чочиа</div>
					<div class="member__position">Escrow</div>

					<div class="member__overlay">
						<div class="member__bottom">
							<div class="member__info">Глубокие знания и огромный опыт в финансовых вопросах, долгое время работал в банковской сфере в частности на должности Первого заместителя Генерального директора Приватбанк Грузия (Тбилиси), в первом коммерческом банке TAO BANK на должности Генерального директора, а так же  Директором стаховой компании EUROPACE.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>