<section class="section section_video" id="section-video" style="background-image: url(img/poster.png);">
	<div class="section__top section__top_bg">
		<div class="row">
			<h2 class="title-h2 title-h2_white">Почему эта концепция реализуется</h2>
			<h3 class="title-h3 title-h3_white">В одной идее удалось совместить 5-ти летний опыт организации мусороперерабатывающих <br> производств и 2-х летний опыт постройки больших майнинговых ферм. </h3>
		</div>
	</div>
	<div class="row">
		<div id="play-video">
			<i class="icon-play"></i>
			<video id="player" class="video-js js-player" controls preload="auto" width="100%" data-setup="{}">
			    <source src="./videos/zeus.mp4" type='video/mp4'>
			    <source src="./videos/zeus.webm" type='video/webm'>
			    <p class="vjs-no-js">
			      To view this video please enable JavaScript, and consider upgrading to a web browser that
			      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
			    </p>
			</video>
		</div>
	</div> 
</section>