<section class="section" id="about">
	<div class="row">
		<h2 class="title-h2">Вы, наверное, слышали, что:</h2>
		
		<div class="features">
			<ul class="features__list">
				<li class="feature feature_flex">
					<div class="feature__inner">
						<div class="feature__img feature_man">
							<img src="img/feature1.png" alt="">
						</div>
						<div class="feature__text">1 человек<br> производит<br> <span class="text text_orange">300 кг</span><br> отходов в год</div>
					</div>
				</li>
				<li class="feature feature_flex">
					<div class="feature__inner">
						<div class="feature__img feature_man">
							<img src="img/feature2.png" alt="">
						</div>
						<div class="feature__text">В ЕС ежегодно<br> образуется<br> <span class="text text_orange">200 млн. тонн</span><br> бытовых отходов</div>
					</div>
				</li> 
				<li class="feature feature_flex">
					<div class="feature__inner">
						<div class="feature__img feature_man">
							<img src="img/feature3.png" alt="">
						</div>
						<div class="feature__text">Земля под<br> мусорной свалкой<br> токсична <br> <span class="text text_orange">50-100 лет</span></div>
					</div>
				</li> 
			</ul>
		</div>

		<p class="text text_center">Наша миссия – дать каждому желающему возможность не только помочь в решении проблемы утилизации мусора, но и получить выгоду, делая мир чище.</p>
		
		<p class="text text_center">Впервые в мире реализуется проект постройки перерабатывающего завода, который генерирует электроэнергию из отходов и использует её для майнинга – ZEUS EcoCryptoMining</p>

		<div class="params">
			<ul class="circle-items">
				<li class="circle-item">
					<div class="circle-item__text">Мощность: </div>
					<div class="circle-item__value circle-item__value_big">38 648 000</div>
					<div class="circle-item__text">Квт/ч в год</div>
				</li>
				<li class="circle-item">
					<div class="circle-item__text">Доход</div>
					<div class="circle-item__value circle-item__value_big">13 308 BTC</div>
					<div class="circle-item__text">в год</div>
				</li>
				<li class="circle-item">
					<div class="circle-item__text">Чистая <br> годовая прибыль</div>
					<div class="circle-item__value circle-item__value_big">53 239 659 €</div>
				</li>
			</ul>
		</div>
		
		<p class="text text_center">ZEUS EcoCryptoMining – не только генерация криптовалюты, а и продажа тепла, удобрений и вторичного сырья. Это <b>устраняет риски</b>, которые неизбежны при работе привычной майнинговой фермы. </p>

		<div class="btn-wrap btn-wrap_pad">
			<a href="https://ico.zeus-token.io/register?lang=ru" class="btn btn_mid">купить Зевс токен</a>
		</div>
	</div>
</section>