<section class="section" id="propositions" >
	<div class="row row_center">
		<h2 class="title-h2">НА ЧТО МЫ ПРИВЛЕКАЕМ СРЕДСТВА</h2>

		<img class="simple-img" src="img/factory.png" alt="">

		<div class="text text_divider">В ходе продажи токенов на ICO для реализации проекта ZEUS EcoCryptoMining <br> планируется собрать <span class="text_bold">41 620 тыс. Euro</span>, эквивалент в Ethereum. <br>Средства пойдут на приобретение земли, строительство зданий завода и майнинговой фермы, <br> комплектующих для сборки майнинговых мощностей, закупку оборудования для переработки отходов, упаковочной линии, погрузочной техники. <br> Мы привлекаем средства не только в Ethereum и Bitcoin, но и в Евро.</div>

		<div class="text">Строительство, настройку и автоматизацию производственных процессов,<br>осуществляют компании с мировым именем:</div>

		<div class="companies">
			<ul class="companies__list">
				<li><img src="img/partner_3.png" alt=""></li>
				<li><img src="img/partner_1.png" alt=""></li>
				<li><img src="img/partner_2.png" alt=""></li>
			</ul>
		</div>

		<div class="text">Эстонская холдинговая компания MOXISA OU предоставит юридическому лицу в Германии займ в размере суммы собраной от реализации  ZEUS Token, для осуществления проекта. </div>

		<div class="text">Во время всех этапов будет обеспечена онлайн-трансляция о ходе строительства. <br> Камеры будут размещены на территории строительной площадки, а затем на самом заводе.</div>

		<h4 class="title-h4">Проект характеризуется такими показателями доходности:</h4>

		<table class="table-indicators">
			<tr>
				<td>Расходы за 1 год</td>
				<td>2 441 393 €</td>
			</tr>
			<tr>
				<td>Общая сумма выручки</td>
				<td>56 341 052 €</td>
			</tr>
			<tr>
				<td>Годовая прибыль после налогов</td>
				<td>53 239 659 € </td>
			</tr>
			<tr>
				<td>Прибыль в месяц</td>
				<td>4 436 638 €</td>
			</tr>
		</table>

		<div class="btn-wrap btn-wrap_pad">
			<a href="whitepaper.pdf" class="btn btn_orange btn_mid">ПОЛУЧИТЬ БИЗНЕС-ПЛАН</a>
		</div>

	</div>
</section>